@font-face {
  font-family: '8584';
  src: url('/fonts/8584.eot');
  src: url('/fonts/8584.eot?#iefix') format('embedded-opentype'),
       url('/fonts/8584.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Romul';
  src: url('/fonts/Romul.svg#Romul') format('svg'),
       url('/fonts/Romul.ttf') format('truetype'),
       url('/fonts/Romul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
