.calculator{
  background: #111;
  width: 100%;
  padding-top: 100px;
  color: #fff;
  font-size: 14px;

  form{
    @include laptop{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  img{
    margin-bottom: -17px;
  }
}

.calculator__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.calculator__input{
  margin-bottom: 20px;
}

.calculator input,
.calculator select{
  color: #fff;
  background: transparent;
  border: 1px solid #383838;
  border-radius: 0;

  &:focus{
    background: transparent;
  }
}

.calculator input{
  border-right: none;
  font-size: 14px;
  @include laptop{
    font-size: 10px;
  }
}

.calculator input::placeholder{
  color: #fff;

  &:focus{
    color: #fff;
  }
}

.calculator select,
.calculator select:focus{
  font-family: 'Lato-Bold';
  font-size: 14px;
  background: linear-gradient(90deg, #e07627, #d8be15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include laptop{
    font-size: 10px;
  }
}
