header{
  width: 100%;
  height: 100vh;

  h1{
    font-family: 'Raleway-ExtraBold';
    background: linear-gradient(90deg, #e07627, #d8be15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-transform: uppercase;
    @include laptop{
      font-size: 30px;
    }
  }
  h5{
    font-family: "Lato-Black";
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    @include laptop{
      font-size: 10px;
    }
  }
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100% !important;
  width: 100% !important;
}

.carousel-control-prev, .carousel-control-next{
  background: linear-gradient(45deg, #e07627, #d8be15);
  opacity: 1;
  width: 40px;
  height: 100px;
  top: calc(50% - 50px);
  transition: 0.5s;

  &:hover{
    background: linear-gradient( 90deg, #e07627, #d8be15);
    opacity: 1;
    width: 130px;
  }
}

.carousel-control-next:hover{
  background: linear-gradient( 90deg, #e07627, #d8be15 40px, #535353 40px, #535353);
  justify-content: flex-start;
  padding-left: 10px;
}

.line{
  width: 40px;
  height: 1px;
  margin-bottom: 25px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(90deg, #e07627, #d8be15);
  border-image-slice: 1;
}

.btn_download{
  background: transparent;
  border: 2px solid #e07627;
}

.btn_header{
  margin-right: 20px;
  width: 160px;
  border: 2px solid #e07627;
  transition: 0.5s;
  text-transform: capitalize;
  font-family: "Lato-Bold";
  font-size: 14px;
  @include laptop{
    font-size: 10px;
    width: 100px;
  }

  &:last-child{
    margin-right: 0;
  }

  &:hover{
    border: 2px solid #e07627;
  }
}

.carousel-caption{
  height: 60%;
  bottom: 50px;

  @include laptop{
    height: 50%;
    bottom: 50px;
  }
}

.currency{
  width: 100%;
  position: absolute;
  bottom: -30px;
  & ul li{
    list-style: none;
  }
}

.currency ul{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #222;
  box-sizing: border-box;
}

.currency ul li{
  background: none;
  border: none;
  font-family: "Lato-Regular";
  color: #878788;
  border-radius: none;
  font-size: 14px;
  @include desktop{
    &:last-child{
      display: none;
    }
  }
  @include laptop{
    font-size: 10px;
    &:nth-child(5){
      display: none;
    }
  }

  &:first-child{
    background: linear-gradient(45deg, #e07627, #d8be15);
    color: #fff;
    font-family: "Lato-Bold";
    &:before {
      content: '';

      position: absolute;
      right: 0;
      bottom: 0;

      border-bottom: 50px solid #222;
      border-left: 20px solid transparent;
      }
  }
}
