.prices{
  width: 100%;
  padding: 100px 0;
  background: #181818;
  color: #6a6a6a;
  @include laptop{
    padding: 50px 0;
  }
  p{
    color: #6a6a6a;
  }
}

.prices__title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table{
  font-size: 14px;
  @include laptop{
    font-size: 10px;
  }
}

thead{
  font-family: 'Lato-Bold';
  background: linear-gradient(90deg, #e07627, #d8be15);
  color: #fff;
}

tbody{
  background: #252525;
}

tbody img{
  padding-right: 10px;
}

.prices_top{
  color: #44b02c;
}
.prices_bottom{
  color: #f00;
}
