html, body{
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

p{
  font-family: 'Lato-Regular';
	font-weight: normal;
	font-style: normal;
  font-size: 14px;
  color: #fff;
  @include laptop{
    font-size: 10px;
  }
}

h2, h4, h6{
  font-size: 30px;
  font-family: "Raleway-ExtraBold";
  text-transform: capitalize;
  background: linear-gradient(90deg, #e07627, #d8be15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  @include laptop{
    font-size: 20px;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
